<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span class="logo">Limelite</span> {{pageTitle}}</a>
    <div class="navbar-toggle" (click)="showMenu = !showMenu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div [ngClass]="{'show': showMenu}" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title logo" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" (click)="showMenu = !showMenu" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item" *ngIf="auth.isAuthenticated$">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item" *ngIf="auth.isAuthenticated$">
            <a class="nav-link" href="javascript:void(0)" (click)="auth.loginWithRedirect()">Log in</a>
          </li>
          <li class="nav-item" *ngIf="auth.isAuthenticated$">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>