<section class="row">
    <div class="video-container">
        <video autoplay loop>
            <source src="assets/home.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay">
            <p>Content above your video</p>
            <form>
                <p>Content Below Your Video</p>
                <label for="input">Form Input Label</label>
                <input id="input" name="input" value="" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
<section class="row">
    <div class="col">
        <h1>Innovative services designed to help you grow. We design and build products and systems to meet your needs.</h1>
    </div>
</section>